#main-header {
  height: 400px;
  width: 100%;
  position: absolute;
  top: 120px;
  background-color: #8D9DD4;
  font-family: 'Source Sans Pro', sans-serif;
  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

#main-header div {
  position: relative;
  text-align: center;
  color: lavender;
}

#main-header h2 {
  color: white;
  font-weight: 300;
  margin: 0;
}

#main-header h2 b {
  font-weight: 700;
}

#main-header img {
  margin: 1em 1em 0em 1em;
}

@media only screen and (min-width:1024px) {
  /* Laptop size screen */
  #main-header {
    position: relative;
    width: 30%;
    margin: 1em;
  }
}
