nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 120px;
  z-index: 1;
  background: #4056A1;
  color: #FFFFFF;
  padding: 1.5em
}

nav span {
  font-family: 'Bungee', sans-serif;
}

nav ul {
  list-style-type: none;
  margin: 0;
  float: right;
  padding: 0;
}

nav ul li {
  color: white;
  text-align: center;
}

#downArrow:hover {
  padding: 3px;
}
